.floating-button {
  position: fixed;
  z-index: 3;
}

.left-bottom {
  left: 4%;
  bottom: 4%;
}

.right-bottom {
  right: 4%;
  bottom: 4%;
}

.left-top {
  left: 4%;
  top: 4%;
}

.right-top {
  right: 4%;
  top: 4%;
}
