.directions {
  h1,
  h2,
  h3,
  h4,
  p > strong {
    margin: 1rem 0 0.2rem 0;
    font-weight: 600;
  }
  ol {
    list-style: decimal;
    list-style-position: inside;
    li {
      margin-bottom: 0.8rem;
    }
  }
}
